export(FLSSS, FLSSSmultiset, GAP, mFLSSSpar,
       mFLSSSparImposeBounds, mFLSSSparImposeBoundsIntegerized,
       mFLSSSparIntegerized, mmKnapsack, mmKnapsackIntegerized)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
importFrom("stats", "aggregate", "cor")
useDynLib(FLSSS, .registration = TRUE)
